<h1>Member Basic Info</h1>
<hr>
<!-- {{currentUser | json}} -->

<div class="row">
    <div class="col-4 text-right">
        <h5>Name : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentUser.first_name}} {{currentUser.last_name}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Email : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentUser.email}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Phone Number : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentUser.phone}}</h5>
    </div>
</div>

<br>
<br>
<br>

<h1>Member Permissions</h1>
<hr>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Permission ID</th>
            <th scope="col">Permission Name</th>
            <th scope="col">Permission Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let permission of currentUserPermissions'>
            <td>{{permission.permission_id}}</td>
            <td>{{permission.name}}</td>
            <td>
                {{permission.active}}
            </td>
            <td>
                <div *ngIf="permission.active === true">
                    <button (click)='togglePermission(permission.permission_id, false)' class="btn btn-danger">Disable</button>
                </div>
                <div *ngIf="permission.active === false">
                    <button (click)='togglePermission(permission.permission_id, true)' class="btn btn-success">Enable</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br />Selected: {{selectedPermission}}

<ng-select [items]="permissions" bindLabel="name" autofocus bindValue="id" [(ngModel)]="selectedPermission">
</ng-select>

<button (click)='addPermission()' class="btn btn-primary">Add</button>