<h1>Member Basic Info</h1>
<hr>
<!-- {{currentUser | json}} -->

<div class="row">
    <div class="col-4 text-right">
        <h5>Name : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentUser.first_name}} {{currentUser.last_name}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Email : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentUser.email}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Phone Number : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentUser.phone}}</h5>
    </div>
</div>

<br>
<br>
<br>

<h1>Member Permissions</h1>
<hr>

<!-- <ng-select items={{items}} ></ng-select> -->
<ng-select [items]="people"
           bindLabel="name"
           autofocus
           bindValue="id"
           [(ngModel)]="selectedPersonId">
</ng-select>

<br/>Selected: {{selectedPersonId}}