<h1>Credential Info</h1>
<hr>
<!-- {{ currentCredential | json}} -->

<div class="row">
    <div class="col-4 text-right">
        <h5>Credential Name : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.name}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Abbreviation : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.abbr}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Major Credential : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.major_cred}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Parent Credential : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.parent_cred}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Created : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.created}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Created By User: </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.created_by}}</h5>
    </div>
</div>


<h2>Credential Checklist </h2>
<hr>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Item ID</th>
        <th scope="col">Item Name</th>
        <th scope="col">Status</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of currentCheckListItems'>
        <td>{{item.id}}</td>
        <td>{{item.text}}</td>
        <td>
            
            <div style="color: lightgreen;" *ngIf="item.active === true" >
                Active
            </div>
            <div style="color: grey;" *ngIf="item.active === 'false'" >
                Deactivated
            </div>
        </td>
        <td>{{item.created}}</td>
      </tr>
    </tbody>
  </table>

  <div style="margin-left: 5px;" class="row">
    <input type="text" (keyup)="onKey($event.target.value)" value="{{ currentChecklist }}" class="form-control">
    
    <button type="button" (click)="createCheckListItem()" class="btn btn-primary">Add Item</button>
</div>



