<h1>Credential Info</h1>
<hr>
<!-- {{ currentCredential | json}} -->

<div class="row">
    <div class="col-4 text-right">
        <h5>Credential Name : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.name}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Abbreviation : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.abbr}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Major Credential : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.major_cred}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Parent Credential : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.parent_cred}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Created : </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.created}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-4 text-right">
        <h5>Created By User: </h5>
    </div>
    <div class="col-8">
        <h5>{{currentCredential.created_by}}</h5>
    </div>
</div>


<h2>Credential Checklist </h2>
<hr>

<div style="margin-left: 5px;" class="row">
    <label>New Checklist Item</label>
    <br/>{{ currentChecklist }}
    <input type="text" (keyup)="onKey($event.target.value)" value="{{ currentChecklist }}" class="form-control">
    
    <button type="button" (click)="createCheckListItem()" class="btn btn-primary">Add Item</button>
</div>






