<nav [ngStyle]="{'visibility': navVisibility}" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Central</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
    <a (click)='logOut()' class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>
  
<div class="">
  <div class="row">
    <nav [ngStyle]="{'visibility': navVisibility}" class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              Dashboard 
            </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/member-management">
              <span data-feather="file"></span>
              Member Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credential-management">
              <span data-feather="file"></span>
              Credential Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trainee-progress-management">
              <span data-feather="file"></span>
              Training Progress Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/promotion-management">
              <span data-feather="file"></span>
              Promotion Management
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>More Options</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/member-profile">
              Personal Profile 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/night-crews">
              night-crews 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/training-checklist">
              training-checklist
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/training-evaluation">
              training-evaluation
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="container">      
      <router-outlet></router-outlet>
    </main>
    
  </div>
</div>
