.crew-night {
    width: 14.28571428571%;
    & + .crew-night {
        border-left: 1px solid rgba(0,0,0,.125);
    }

    * {
        margin: 0;
    }
}

.crew-position {
    color: var(--rpia-red);
    text-transform: uppercase;
}

.crew-spot, .crew-date {
    // height: 14.28571428571%;
    // border: 1px solid #cccccc;
    // border-radius: 4px;
    // padding: 7px;
    min-height: 76.0003px;
    padding: .75rem 1.25rem;
    border-bottom: 1px solid #cccccc;

    * {
        margin: 0;
    }

    // .small {
    //     color: var(--rpia-red);
    //     text-transform: uppercase;
    // }

    // &.vacant {
    //     background-color: #cccccc;
    // }

    // .crew-headshot {
    //     max-height: 39px;
    //     float: left;
    //     margin-right: 10px;
    // }

    // button {
    //     margin-top: 5px;
    // }
}

.crew-spot {
    & + .crew-spot {
        border-left: 1px solid #cccccc;
    }
}

.crew-date {
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid #cccccc;

    & + .crew-date {
        border-left: 1px solid #cccccc;
    }
}

.crews-table {
    * {
        margin: 0;
    }

    button {
        margin-top: 5px;
    }

    td {
        padding: 1rem;
    }
}