<div class="row">
    <div class="col">
        <h1>Night Crews</h1>
        <hr>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h2>Current Week</h2>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <table class="table table-bordered crews-table">
            <tr>
                <th class="crew-date" *ngFor="let day of days; let i = index">
                    <h4>{{day}} <br class="d-none d-md-block"><small class="text-muted">Jan. {{3+i}}</small></h4>
                </th>
            </tr>
            <tr>
                <td *ngFor="let day of days; let i = index">
                    <h5 class="small crew-position text-muted">Crew Chief</h5>
                    <p *ngIf="i !== 4">J. Doe</p>
                    <button *ngIf="i === 4" class="btn btn-sm btn-outline-dark btn-block" disabled>Ineligible</button>
                </td>
            </tr>
            <tr>
                <td *ngFor="let day of days; let i = index">
                    <h5 class="small crew-position text-muted">Driver</h5>
                    <p *ngIf="i !== 2">J. Doe</p>
                    <button *ngIf="i === 2" class="btn btn-sm btn-primary btn-block">Sign Up</button>
                </td>
            </tr>
            <tr>
                <td *ngFor="let day of days">
                    <h5 class="small crew-position text-muted">Rider</h5>
                    <p>J. Doe</p>
                </td>
            </tr>
            <tr>
                <td *ngFor="let day of days">
                    <h5 class="small crew-position text-muted">Rider</h5>
                    <button class="btn btn-sm btn-primary btn-block">Sign Up</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<hr>
<div class="row mt-3">
    <div class="col">
        <h2>Next Week</h2>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <table class="table table-bordered crews-table">
            <tr>
                <td class="crew-date" *ngFor="let day of days; let i = index">
                    <h4>{{day}} <br class="d-none d-md-block"><small class="text-muted">Jan. {{10+i}}</small></h4>
                </td>
            </tr>
            <tr>
                <td *ngFor="let day of days">
                    <h5 class="small crew-position text-muted">Crew Chief</h5>
                    <p>J. Doe</p>
                </td>
            </tr>
            <tr>
                <td *ngFor="let day of days">
                    <h5 class="small crew-position text-muted">Driver</h5>
                    <p>J. Doe</p>
                </td>
            </tr>
            <tr>
                <td *ngFor="let day of days">
                    <h5 class="small crew-position text-muted">Rider</h5>
                    <p>J. Doe</p>
                </td>
            </tr>
            <tr>
                <td *ngFor="let day of days">
                    <h5 class="small crew-position text-muted">Rider</h5>
                    <button class="btn btn-sm btn-primary btn-block">Sign Up</button>
                </td>
            </tr>
        </table>
    </div>
</div>