<h1>New Credential</h1>

<!-- <button (click)="showToast()"> Click me for a toast</button> -->

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Credential Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div class="form-group">
    <label>Abbreviation</label>
    <input type="text" class="form-control" formControlName="abbr">
  </div>

  <div class="form-group">
    <label>Parent Credential</label>
    <ng-select [items]="credentials"
        bindLabel="name"
        autofocus
        bindValue="id"
        formControlName="parent_cred"
      >
    </ng-select>
    <br/>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
</form>
