<h1>New Credential</h1>

<button (click)="showToast()"> Click me for a toast</button>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Credential Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div class="form-group">
    <label>Abbreviation</label>
    <input type="text" class="form-control" formControlName="abbr">
  </div>

  <div class="form-group">
    <label>Is Major Credential</label>
    <input style="margin-left: 15px;" type="checkbox" formControlName="major_cred" checked>
  </div>

  <div class="form-group">
    <label>Parent Credential</label>
    <ng-select [items]="credentials"
        bindLabel="name"
        autofocus
        bindValue="id"
        formControlName="parent_cred"
      >
    </ng-select>
    <br/>
  </div>


  <div formArrayName="checkListItems">
    <h3>Check List</h3> 
    <button (click)="addItem()" class="btn btn-primary">Add Item</button>

    <div class="row" *ngFor="let alias of checkListItems.controls; let i=index">

      <div class="col-2">
        <label>Checklist Item</label>
      </div>
      <div class="col-3">
        <input  style="margin-left: 15px;" type="text" [formControlName]="i">
        
      </div>      
      <a (click)="removeItem(i)" ><i class="fas fa-trash-alt"></i></a>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
</form>

<hr>


<p>
  Form Value: {{ profileForm.value | json }}
</p>


<p>
  Form Status: {{ profileForm.status }}
</p>

<p>
  <button (click)="updateProfile()">Update Profile</button>
</p>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->